body {
  text-align: center;
}

hr {
  width: 30%;
}

table {
  border-collapse: collapse;
  margin-top: 50px;
}

td, th {
  border: 1px solid black;
  padding: 2.5rem;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
}